<div class="container">
  <br>
  <div class="container w-50">
    <h1>New trip</h1>
    <hr>
    <%= link_to "Go back to trips", trips_path, class: "btn btn-update btn-hover-classic" %>
    <hr>
    <%= render "form", list: @trip %>
  </div>
  <hr>
</div>
