@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

body {
  background-color: #050a11ff;
  overflow-x: hidden;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 250px 0;
}

.banner h2 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  color: #F4ECE1;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 56px;
  font-weight: bold;
  color: white;
}

.bg-gradient-magic {
  background-image: radial-gradient(circle at center center, rgba(14,26,42, 0.99),rgb(5,10,17));
  height: 350px;
}

p {
  font-family: 'Raleway', sans-serif;
}

.button-trips {
  background-color: #9575DE;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding: 20px;
  // width: 200px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.button-trips:hover {
  color: #ffffff;
  background-color: #6554AF;
  transition: 0.3s ease-in-out;
}

.button-host {
  background-color: white;
  border: none;
  font-size: 20px;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding: 20px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.button-host:hover {
  color: black;
  background-color: #F4ECE1;
  transition: 0.3s ease-in-out;
}

.bg-gradient-exemple {
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0,0.04) 0px, rgba(0,0,0,0.04) 2px,transparent 2px, transparent 4px),linear-gradient(135deg, rgb(255,255,255),rgb(234,234,234));
  width: 300px;
}

.book {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding-top: 200px;
}

.p-book {
text-align: center;
font-family: 'Raleway', sans-serif;
}

.full-width-img {
  // height: 100%;
  object-fit: cover;
  width: 100%;
}

.section {
  height: 520px;
  background-image: linear-gradient(297deg, rgb(97,100,153),rgb(38,73,92));
}

.destination {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding-top: 70px;
  margin-bottom: 50px;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.44);
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: #F4ECE1;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
