// Import page-specific CSS files here.
@import "home";

#content-container {
  display: flex;
  height: 100vh;
}

::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 15px;
  padding-right: 15px;
  overflow-y: hidden !important;
  flex-grow:1;
}

.cards:hover {
  overflow-y: auto !important;
}


#map-index {
  height: 93vh;
  width: 40%;
  margin-top: 15px;
  border: 0.5px solid white;
  border-radius: 15px;
}

.filter {
position: relative;
top: -65px;
left: 350px;
}
.elems{
  margin-left: 50px;
  background-color: transparent;
  color: #f8f9fa;
  width: max-content;
  border-radius: 0.375rem;
}
.form-control-index{
  text-align: center;
  justify-content: center;
  width: 25%;
  border-radius: 0.375rem;
  background-color: transparent;
  color: #b9b9b9;
  margin-left: 20px;
  transition-duration: 0.5s;
}

.txt {
  color: white;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color:black;
}

@media (max-width: 1280px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
