<div class="container">
  <h1><%= @trip.title %></h1>
  <h3>Book a reservation</h3>
  <hr>
  <%= render "form", list: @booking %>
  <hr>
  <%= link_to "return to the trip", trip_path(@trip), class: 'btn btn-dark' %>
</div>
