<div class="footer">
    <div class="social-media">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-github"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <p>This website was coded with <i class="fa-solid fa-heart" style="color: #ff4000;"></i> by <strong>CosmicCruise</strong></a></p>
    </div>
  </div>
