
.goldybtn {
  text-decoration: none;
  background-color: #000000;
  color: #fff;
  border-radius: 0.3em;
  background-image: linear-gradient(to right, rgb(252, 199, 121), rgba(14,26,42, 0.99 ), #220f01 , #fcc779);
  background-size: 320%;
  background-position: left;
  transition: 0.3s background-position ease-in-out;
  border-radius: .375rem;
  border-width: 1px;
  border-style: outset;
  border-color:  rgba(252, 199, 121, 0.2);
  padding: 0.3rem 1rem;


}
.goldybtn:hover{
  background-position: right;
  color: white;
}

.btn-outline-light {
  transition: .3s linear;
  font-family: 'Raleway', sans-serif;

}

.btn-nav{
 padding: 0.9rem 0.9rem;
 border-radius: .375rem;
}
