.footer {
  background-color: #0E1A2A;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45px;
}

.footer p {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 13px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.social-media a {
  width: 70px;
  height: 70px;
  text-align: left;
  text-decoration: none;
  color: #F4ECE1;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  margin: 0 5px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media a .fa-brands {
  font-size: 15px;
  transition: color 0.5s;
}

.social-media a:hover {
  color: #E4A5FF;
}
