.navbar-lewagon {
  justify-content: space-between;
  background: #08101b;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
  border-radius: 50%;
}
.nav-item{
  color: #ffd4b1ff;
  border-radius: 2px, solid;

}
.navbar {
  height: 80px;

}
