.navbar-lewagon {
  justify-content: space-between;
  background: #08101b;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
  border-radius: 50%;
}
.nav-item{
  color: #fd994e;
  border: 2px dotted transparent;
  border-radius: 0%;
  margin-right: 1rem;
  padding: 1rem;
  opacity: .8;
  transition-duration: 1.2s;
  text-shadow: none;
  text-decoration-line: none;
}

.nav-item:hover{
  opacity: 1;
  border-radius: 50%;
  color: #fd994e;
  border-color: #fbc678;
  font-size: 1.05em;
  border-start-end-radius: 2px solid;
}
.navbar {
  height: 80px;

}
